# Hannah Melcher
## CS-150-01
## Assignment 3 
## Version 1

### append()
append() is the simplest way to add a new element to a list. The new element is added to the end of a list.

In [1]:
brands=['Nike', 'Adidas', 'Under Armour']
print(brands)

brands.append('Puma')
print(brands)

['Nike', 'Adidas', 'Under Armour']
['Nike', 'Adidas', 'Under Armour', 'Puma']

## extend()
extend() method adds the specified elements to the end of the current list

In [8]:
colors=['red', 'blue', 'purple']
names=['Frank', 'Bob', 'Max']
colors.extend(names)
print(colors)

['red', 'blue', 'purple', 'Frank', 'Bob', 'Max']

## insert()
insert() is when you add a new element at any position in the list, not just at the end. You must specify the index of the new element and the value of the new item

In [9]:
flavors=['vanilla', 'chocolate', 'strawberry']

flavors.insert(1, 'rocky road')
print(flavors)

['vanilla', 'rocky road', 'chocolate', 'strawberry']

## remove()
remove() is used when you do not know the position of the value you want to remove from the list. You use this method if you only know the value of the item you wish to remove from the list.

In [10]:
party_guests=['Sally', 'Kate', 'Chris']
print(party_guests)

party_guests.remove('Kate')
print(party_guests)

['Sally', 'Kate', 'Chris']
['Sally', 'Chris']

## count()
count() method returns the number of elements with the specified value

In [17]:
fruits = ["apple", "banana", "cherry"]
x=fruits.count("cherry")
print(x)

1

## index()
index() gives the position at the first occurrence of the specified value

In [12]:
grades = ['A', 'B', 'C']
x = grades.index("C")
print(x)

2

## pop()
pop() method removes the last item of the list, but lets you work with that item after its removal

In [13]:
cars=['Honda', 'BMW', 'Audi']
print(cars)

popped_cars=cars.pop()
print(cars)
print(popped_cars)

['Honda', 'BMW', 'Audi']
['Honda', 'BMW']
Audi

## sorted()
sorted() function gives a sorted list of the specified object. You can specify ascending or descending order. The list is sorted only temporarily.

In [14]:
numbers=[10, 23, 5, 45, 98, 102]
sorted(numbers)

[5, 10, 23, 45, 98, 102]

## copy()
copy() method returns a copy of the specified list

In [18]:
subjects=["math", "science", "reading"]
subjects.copy()
print(subjects)

['math', 'science', 'reading']

## clear()
clear() method removes all elements from a list

In [20]:
fruits=['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

## list()
a list() is a collection of items in a particular order. It can include anything you want.  Square brackets[] indicate a list and individual elements in a list are separated by commas.

In [21]:
class_rank=['freshman', 'sophomore', 'junior', 'senior']
print(class_rank)

['freshman', 'sophomore', 'junior', 'senior']

## len() 
len() function quickly finds the length of a list

In [22]:
pizza_toppings=['cheese', 'pineapple', 'sausage']
len(pizza_toppings)

3

## max()
max() function identifies the maximum value in a list of numbers

In [23]:
digits=[0,1,2,3,4,5]
max(digits)

5

## min()
min() function identifies the minimum value in a list of numbers

In [24]:
numbers=[23, 67, 12, 100]
min(numbers)

12